@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Clash Display", sans-serif;
  text-transform: capitalize;
  @apply tracking-wide;
  margin-top: 20px;
}

.gradient {
  background: rgb(253, 229, 152);
  background: linear-gradient(
    0deg,
    rgba(253, 229, 152, 1) 0%,
    rgba(255, 85, 85, 1) 43%
  );
}
